ng-advanced-drag-drop-filter {
  .advanced-drag-drop-filter {
    .control-container {
      clear: both;
      .filter-selection {
        display: inline-block;
      }
      .buttons-container {
        display: inline-block;
        float: right;
      }
    }
    .selected-container, .available-container {
      min-height: 200px;

      .selected-fields, .available-fields {
        min-height: 200px;
      }

      .dragging {
        opacity: 0.5;
        border: 1px dashed black;
      }

      &.editing {
        .selected-fields {
          [draggable=true] {
            &:before {
              content: '';
              position: absolute;
              left: 0px;
              top: 0px;
              width: 100%;
              height: 100%;
            }
          }
        }

        .selected-fields, .available-fields {
          border: 1px dashed black;
        }
      }
    }
    .available-fields {
    }
    .source-fields {
      display: none;
    }
  }
}
